{% extends 'base.html.twig' %}
{% block title %}Edytuj ogłoszenie{% endblock %}
{% block body %}
	{# include navbar #}
	{% if currentUser == FALSE %}
		{% include 'navbars/guestNavbar.html.twig' %}
	{% endif %}
	{% if currentUser.userType is defined %}
		{% if currentUser.userType == "user" %}
			{% include 'navbars/userNavbar.html.twig' %}
		{% endif %}
		{% if currentUser.userType == "admin" %}
			{% include 'navbars/adminNavbar.html.twig' %}
		{% endif %}
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<center><h3>Edytuj ogłoszenie</h3></center>
				</div>
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col">
								<form method="POST" action="/editAdvert/{{advert.id}}" enctype="multipart/form-data">
									<fieldset class="form-group">
										<div class="form-group">
											<label class="form-control-label">Tytuł</label>
											<input class="form-control form-control-lg" id="title" name="title" required type="text" value="{{advert.title}}">
										</div>
										<div class="form-group">
											<label class="form-control-label">Wybierz kategorie:</label>
											<select class="form-control" id="category" name="category">
											{% for category in categories %}
												<option value="{{category.id}}">{{category.name}}</option>
											{% endfor %}
											</select>
										</div>
										<div class="form-group">
											<label class="form-control-label">Opis</label>
											<textarea class="form-control form-control-lg" id="description" name="description" required type="text">{{advert.description}}</textarea>
										</div>
										{% if advert.adsPhotos[(advert.adsPhotos|length)-1].file is not defined %}
						                    <div class="form-group">
						                        <label for="file">Zdjęcie (opcjonalnie)</label>
						                        <input type="file" class="form-control-file" name="upFile" id="upFile">
						                    </div>
						                {% endif %}
						                {% if advert.adsPhotos[(advert.adsPhotos|length)-1].file is defined %}
						                    <div class="form-group">
						                        <label for="file">Zastąp aktualne zdjęcie (opcjonalnie)</label>
						                        <input type="file" class="form-control-file" name="upFile" id="upFile">
						                    </div>
						                    <div class="form-group">
						                        <center>
						                            <input class="btn btn-danger" id="delete" name="delete" type="submit" value="Usuń plik"> 
						                        </center>
						                    </div>
						                {% endif %}
									</fieldset>
									<div class="form-group">
										<center>
											<a class="btn btn-secondary" href="javascript: history.go(-1)">Wróć</a> 
											<input class="btn btn-secondary" id="edit" name="edit" type="submit" value="Zapisz">
										</center>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}